* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:root {
  --grayBglight: #f7f6fa;
  --grayTextlight: #fdfff5;
  --greenBg: #1C261E;
  --greenBgContainer: #32402C;
  --greenText: #1C261E;
  --greenCard: #B0BFB5;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}
html {
  margin: 0 auto;
}

.title {
  padding: 10px 0;
  font-size: 36px;
  color: var(--greenText);
  font-weight: 700;
  margin-bottom: 0;
}
.subtitle {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  color: inherit;
}
.secundaryText {
  font-size: 16px;
  font-weight: normal;
}
.especieText {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.card-cover-link {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

.gallery-bg{
  background-color: var(--greenBgContainer);
  color: var(--grayBglight);
}

@media (max-width: 768px) {
  .title {
    font-size: 26px;
    text-align: center;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 0.75rem;
  }
  .secundaryText {
    font-size: 14px;
  }
}
