* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
:root {
  --darkBgColor: #1f2937;
  --bgLight: #fefffe;
  --heroMainText: #f9faf8;
  --heroSecondaryText: #e5e7eb;
  --buttonColor: #3882f6;
  --informationHeaderText: #1f2937;
  --quoteText: #1f2937;
  --greenPrimary: #29371f;
  --footer-bg: #212529;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}
html {
  margin: 0 auto;
}

.title {
  padding: 10px 0;
  font-size: 2.5rem;
  color: var(--heroMainText);
  font-weight: 700;
  margin-bottom: 0;
}
.subtitle {
  font-size: 36px;
  color: var(--informationHeaderText);
  font-weight: 700;
  padding-top: 20px;
}
.secundaryText {
  font-size: 1.125rem;
  color: var(--heroSecondaryText);
  font-weight: normal;
  font-size: 1.125rem;
}
.especieText {
  font-style: italic;
  color: var(--heroSecondaryText);
  font-weight: normal;
  font-size: 1.125rem;
}
.card-cover-link {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.125rem;
  }
  .subtitle {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
  .secundaryText {
    font-size: 0.75rem;
  }
}
