.introBlog {
  background-image: url('../img/banner-peroba2-1.psd.png');
  background-size: cover;
  background-position: unset;
  background-repeat: no-repeat;
  min-height: 400px;
}

.img-intro {
  display: none;
}

@media (max-width: 768px) {
  .img-intro {
    border-radius: 10px;
    display: block;
  }
  .intro-conteudo {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
  .introBlog {
    background: none;
    background-color: var(--grayBglight);
  }
}
