.intro-bg {
  background-color: var(--darkBgColor);
  background-image: url('https://media.istockphoto.com/id/1214287487/photo/beautiful-young-tomato-sprout-close-up.jpg?s=170667a&w=0&k=20&c=KqzNy8B5lTCAMA7rrpkVCHn8VzQevrYVrbM-Bd7DwoA=');
  background-size: cover;
}

.intro {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.intro-conteudo {
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: var(--buttonColor);
  border: none;
  color: var(--heroSecondaryText);
  max-width: max-content;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.img-intro img {
  border-radius: 5px;
}

@media (max-width: 991px) {
  .title {
    font-size: 2rem;
  }
  .secundaryText {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .intro {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .intro-conteudo {
    align-items: center;
  }
  .img-intro img {
    /* display: none; */
    width: 350px;
  }
}
