.container-slider {
  padding-bottom: 20px;
  max-width: 650px;
}
@media (max-width: 500px) {
  .linksImportantes {
    flex-direction: column;
  }
  .blockquote p {
    font-size: 14px;
  }
  .blockquote-footer {
    font-size: 10px;
  }
}
